<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div id="allUsers">

		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="lightgrey">
					<th>Username</th>
					<th>Email</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Birdth Date</th>
					<th>Gender</th>
					<th>Role</th>

				</tr>
			</thead>

			<tr v-for="u in searchedUsers">
				<td v-on:click="userDetails(u)">{{u.username }}</td>
				<td>{{u.email }}</td>
				<td>{{u.name }}</td>
				<td>{{u.surname }}</td>
				<td>{{u.birdthDate }}</td>
				<td>{{u.gender }}</td>
				<td>{{u.role }}</td>
			</tr>
		</table>

		<br>

		<table id="pretraga">
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" v-model="searchName">
				</td>
			</tr>
			<tr>
				<td>Surname</td>
				<td><input type="text" name="surname" v-model="searchSurname">
				</td>
			</tr>
			<tr>
				<td>Birdth Begin</td>
				<td><input type="date" v-model="searchBirdthBegin"></td>
				<td>Birdth End</td>
				<td><input type="date" v-model="searchBirdthEnd"></td>
			</tr>
			<tr>
				<td><button type="button" v-on:click="search()">
						Search</button></td>
			</tr>
		</table>
		
		<br> 
		
		<select v-model="sortType">
			<option value="Name">Name</option>
			<option value="Surname">Surname</option>
			<option value="BirdthDate">BirthDate</option>
		</select>
		<button type="button" v-on:click="sortUsers"> Sort </button>

	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/allUsers.js"></script>


</body>
</html>