<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>All users</title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

	<div id="allUsers">
		<div align="center">
		<a href="http://localhost:8080/WebProg/personalData.html"><button class="button button1">Personal data</button></a>
		<a href="http://localhost:8080/WebProg/messageFriends.html"><button class="button button1">Messages</button></a>
		<a href="http://localhost:8080/WebProg/allUsersAdmin.html" v-bind:hidden="currentUser.role !== 'ADMINISTRATOR'"><button class="button button1">ADMIN</button></a>
		<a href="http://localhost:8080/WebProg/login.html"><button class="button button1" v-on:click="logout()">Logout</button></a>
		</div>
		<br>
		<table border="1" id="allUsersTable">
			<thead>
				<tr bgcolor="lightgrey">
					<th>Username</th>
					<th>Email</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Birdth Date</th>
					<th>Gender</th>
					<th>Role</th>

				</tr>
			</thead>

			<tr v-for="u in searchedUsers">
				<td v-on:click="userDetails(u)">{{u.username }}</td>
				<td>{{u.email }}</td>
				<td>{{u.name }}</td>
				<td>{{u.surname }}</td>
				<td>{{u.birdthDate }}</td>
				<td>{{u.gender }}</td>
				<td>{{u.role }}</td>
			</tr>
		</table>

		<br>

		<table id="allUsersSearch">
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" v-model="searchName">
				</td>
			</tr>
			<tr>
				<td>Surname</td>
				<td><input type="text" name="surname" v-model="searchSurname">
				</td>
			</tr>
			<tr>
				<td>Birdth Begin</td>
				<td><input type="date" v-model="searchBirdthBegin"></td>
				<td>Birdth End</td>
				<td><input type="date" v-model="searchBirdthEnd"></td>
			</tr>
			<tr>
				<td><button type="button" v-on:click="search()">
						Search</button></td>
			</tr>
		</table>
		
		<br> 
		<div id="sort">
		<select v-model="sortType">
			<option value="Name">Name</option>
			<option value="Surname">Surname</option>
			<option value="BirdthDate">BirthDate</option>
		</select>
		<button type="button" v-on:click="sortUsers"> Sort </button>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/allUsers.js"></script>


</body>
</html>