<!DOCTYPE html>
<html>

<head>
<title>Post details (admin)</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="styles.css">
<script src="jquery-3.3.1.min.js"></script>
</head>

<body>
	<div id="detailedPostAdmin">
		<div align="center">
			<a href="http://localhost:8080/WebProg/allUsersAdmin.html"><button class="button button1">Home</button></a>
		</div>
		<figure style="text-align: center;">
		
			
				
				<img v-bind:src="post.picture" alt="Not found" width="400" height="420" style="width:auto;">
			<br>
			
				<figcaption>{{post.text}}</figcaption>
		</figure>	
		<div class="commentsPost">
		<p> Comments </p>
		<table border="1" id="tabela">
			<thead>
				
			</thead>

			<tr v-for="c in commentsForPost">
				<td>{{c.userName}}</td>
				<td>{{c.userSurname}}</td>
				<td>{{c.text}}</td>
				<td>{{c.commentDate}}</td>
				<td><div v-bind:hidden="c.userId !== currentUser.id">
			<button type="button" v-on:click="deleteCommentUser(c)"> Delete </button>
		</div></td>
			</tr>
			
		</table>
		</div>
		<div align="center">
		<button type="button" v-on:click="showComment"> Comment</button>
		
		<div v-bind:hidden="writeComment === false">
			<label>Comment:</label>
			<input type="text" v-model="comment.text">
			<button type="button" v-on:click="saveComment"> Save </button>
		</div>
		</div>
		<br><br>
		<button type="button" v-on:click="showDeletePost()" class="deletePost"> Delete post</button>
		<div class="deletePostMessage" v-bind:hidden="showDeleteButton === false">
			<label>Message:</label>
			<textarea type="text" v-model="message.messageContext"></textarea>
			<button type="button" v-on:click="deletePost()"> Delete </button>
		</div>
		
		

	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/detailedPostAdmin.js"></script>
</body>

</html>