<!DOCTYPE html>
<html>

<head>
<title>My data</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="styles.css">
<script src="jquery-3.3.1.min.js"></script>
</head>

<body>
	<div id="detailedUser">

		<table>
			<tr>
				<td>Username</td>
				<td>{{user.username}}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<td>Role</td>
				<td>{{user.role}}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{user.name}}</td>
			</tr>
			<tr>
				<td>Surname</td>
				<td>{{user.surname}}</td>
			</tr>
		</table>
		<p>Posts</p>
		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="lightgrey">
					<th>Posts</th>
				</tr>
			</thead>

			<tr v-for="p in userForViewPost">
				<td v-on:click="clickedPost(p)">{{p.picture}}</td>
				<td v-on:click="clickedPost(p)">{{p.text}}</td>

			</tr>
		</table>
		
		<br>

		<div v-bind:hidden="userRequest !== '' || existFriend === true">
		<button type="button" v-on:click="request()">Send request</button>
		</div>
		
		<div v-bind:hidden="userRequest === ''">
		<p>Request already sent</p>
		</div>
		
		<div v-bind:hidden="existFriend === false">
		<p>You are friends</p>
		<br><br>
		<button type="button" v-on:click="removeFriend()">Remove friend</button>
		</div>

		<br> <br>
		<div v-bind:hidden="user.privateProfile === true">
			<button type="button" v-on:click="blockUser()">Block user</button>
		</div>
		<div v-bind:hidden="user.privateProfile === false">
			<button type="button" v-on:click="unblockUser()">Unblock user</button>
		</div>
		
		<button type="button" v-on:click="showMessageButton()"> Message </button>
		
		<div v-bind:hidden="messageForSend === false">
		<label>Message</label>
		<td><textarea v-model="message.messageContext"></textarea></td>
			<button type="button" v-on:click="messageSend()">Send</button>
		</div>
		
		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="lightgrey">
					<th>Mutual friends</th>
				</tr>
			</thead>

			<tr v-for="f in mutualFriends">
				<td>{{f.name}}</td>
				<td>{{f.surname}}</td>
				<td><button type="button" v-on:click="userDetails(f)">Profile</button></td>
			</tr>
		</table>
		
		
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/detailedUser.js"></script>
</body>

</html>