<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New post</title>
</head>
<body>

	<div align="center">
		<a href="http://localhost:8080/WebProg/allUsers.html">Home</a>
	</div>

	<div id="newPost">

		<form id="forma" @submit="newPostCreate" >
			<table>
				<tr>
					<td>Picture</td>
					<td><input type="text" name="picture" v-model="newPost.picture"></td>
				</tr>
				<tr>
					<td>Text</td>
					<td><input type="text" name="text" v-model="newPost.text"></td>
				</tr>
				
				<tr>
					<td><input type="submit" value="Create"></td>
				</tr>
			</table>

		</form>

	</div>
	
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/newPost.js"></script>

</body>
</html>