<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New post</title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

	<div align="center">
		<a href="http://localhost:8080/WebProg/allUsers.html"><button class="button button1">Home</button></a>
	</div>

	<div id="newPost">

		<form id="forma" @submit="newPostCreate" >
			<table style="margin-left: 40%; margin-top: 10%;">
				<tr>
					<td>Picture</td>
					<td><input type="file" name="picture"
						v-model="newPost.picture"></td>
					<td></td>
				</tr>
				<tr>
					<td>Text</td>
					<td><textarea style="width: 150%; height: 500%" type="text" name="text" v-model="newPost.text"></textarea></td>
				</tr>
				
				<tr>
					<td><input type="submit" value="Create"></td>
				</tr>
			</table>

		</form>

	</div>
	
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/newPost.js"></script>

</body>
</html>